<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>
<% @letters.each do |letter| %>
  <div class="letter"> <%= letter %> </div>
<% end %>

<form action="/score" method="POST">
  <input type="text" name="combination">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
